@model MVC_Sayfalama.Models.mesaj

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Bu Kaydı Silmek İstediğinizde Eninmisiniz?</h3>
<div>
    <h4>Sil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Ana Sayfa", "Index")
        </div>
    }
</div>
