@model MVC_Sayfalama.Models.mesaj

@{
    ViewBag.Title = "Detay";
}

<h2>Detay</h2>

<div>
    <h4>Detay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ana Sayfa", "Index")
</p>
